body {
  padding-top: 70px;
}
/* Sticky footer styles
by http://getbootstrap.com/2.3.2/examples/sticky-footer.html
-------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .container .credit
      {
		    margin: 20px 0;		
      }

      .muted
      {
      	color: #999999;
      }
/* Correction de la liste des semaines
*  (agrandissement de la liste pour qu'elle soit plus jolie
*/
.liste {
  width:100%;
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 97% center;
  border: 1px solid #cccccc;
  text-align:center;
  margin:6px;
  padding: 0.5rem;

  border-radius: 0;
  height: 4rem; }
.liste.radius {
    border-radius: 3px; }
.liste:hover {
    background-color: #f3f3f3;
    border-color: #999999; }

img
{
  margin-bottom:5px;
}

#groupe
{
  margin-top:-30px;
}
@media screen and (min-width: 640px){
  .liste{
      font-size: 1.8rem;
  }

}
@media screen and (max-width: 640px){
  .liste{
      font-size: 1rem;
  }

}

